/license.txt
/error_log
/_SYNCAPP
/.svn
/desktop.ini
/ss_factory/logPath
/ss_store/logPath
/ss_maincore_factory/functionJs/notificationsocket/daemon
/ss_maincore_factory/functionJs/notificationsocket/daemon/*.*
/ss_store/uploads
/ss_maincore_factory/functionJs/notificationsocket/node_modules
/ss_maincore_factory/functionJs/notificationsocket/node_modules/*.*
/ss_maincore_store/functionJs/notificationsocket/node_modules
/ss_maincore_store/functionJs/notificationsocket/node_modules/*.*
/ss_factory/node_modules
/ss_factory/node_modules/*.*
/api/node_modules
/api/node_modules/*.*
/ss_maincore_factory/functionJs/notificationsocket/index.js
/web.config
/ss_factory/web.config
/ss_store/web.config
/ss_factory/uploads/gstreport